uploads/taxi_vehicle
uploads/events
uploads/activities/gallery
uploads/activities/images
uploads/gallery
uploads/taxi_users
uploads/menu

api/config/connect.php
conexion.php
application/config/database.php
database.php