<ion-view view-title="Add Card">
<ion-content class="padding">
<style>
@media only screen and (min-height: 800px) {
  .BaseBienvenida{
    padding-top: 80%!important;
  }
}

@media only screen and (max-height: 650px) {
  .LetraBienvenida{
      font-size: 20px!important;
    }
}
.BaseBienvenida{
  min-height: 100vh;
  background-color: #0C375A;
  padding-top: 75%;
  padding-left: 10%;
}
.LetraBienvenida{
  text-align: left;
  font-size: 17px;
  letter-spacing: 0px;
  color: #fff;
  opacity: 1;
}
.TamanioBienvenida2{
  width: 65%;
  margin-left: 105%;
}
.mover{
  margin-left: 100%;
  padding-bottom: 5%;
  width: 200%;
}
</style>
<div class="BaseBienvenida">
  <div class="mover">
    <span class="LetraBienvenida" >Gracias por Subscribirte a</span>
  </div>
  <img src="./img/logo.png" class="TamanioBienvenida2" style="text-align: center;"><br><br>
</div>
</ion-content>
</ion-view>