<ion-view hide-nav-bar="true">
  <ion-content scroll="false" style="background-color:#0594a1" class="">
    <style>
      @media only screen and (min-height:  800px) {
        .bajarimg{
          padding-top: 66%!important;
        }
        .separacion{
          padding-top: 15%!important;
        }
        .bajarimg2{
          padding-top: 33%!important;
        }
        .bajarimg3{
          padding-top: 21%!important;
        }
      }
      @media only screen and (max-height:  650px) {
        .bajarimg{
          padding-top: 27%!important;
        }
        .bajarimg2{
          padding-top: 0%!important;
        }
        .SplashLetras1{
          font-size: 15px!important;
        }
        .SplashLetras{
          font-size: 12px!important;
        }
        .logotamanio{
          width: 17%!important;
        }
        .iphone5{
          margin-top: -15%!important;
        }
        .SplashLetras3 {
            font-size: 15px!important;
        }
      }
      .PlantillaBase{
        min-height: 100vh;
        top: 0px;
        left: 0px;
        background: #E23310 0% 0% no-repeat padding-box;
        opacity: 1;
      }
      .PlantillaBase2{
        min-height: 100vh;
        top: 0px;
        left: 0px;
        background: #3D0070 0% 0% no-repeat padding-box;
        opacity: 1;
      }
      .PlantillaBase3{
        min-height: 100vh;
        top: 0px;
        left: 0px;
        background: #009A14 0% 0% no-repeat padding-box;
        opacity: 1;
      }
      .PlantillaBase4{
        min-height: 100vh;
        top: 0px;
        left: 0px;
        background: #EEA806 0% 0% no-repeat padding-box;
        opacity: 1;
      }
      .PlantillaBase5{
        min-height: 100vh;
        top: 0px;
        left: 0px;
        background: #193433 0% 0% no-repeat padding-box;
        opacity: 1;
      }
      .SplashLetras{
        color: #fff;
        font-size: 25px;
        text-align: center;
        line-height: 1.2;
      }
      .SplashLetras1{
        color: #fff;
        font-size: 18px;
        text-align: center;
        line-height: 1.2;
      }
      .SplashLetras2{
        color: #fff;
        font-size: 13px;
        text-align: center;
        line-height: 1.2;
      }
      .SplashLetras3{
        color: #fff;
        font-size: 16px;
        text-align: center;
        line-height: 1.2;
      }
      .Linea1{
        top: 759px;
        left: 0px;
        height: 53px;
        background: #0594A1 0% 0% no-repeat padding-box;
        opacity: 1;
        min-height: 92vh;
        text-align: center;
        padding-top: 30%;
      }
      .Linea2{
        top: 759px;
        left: 0px;
        height: 53px;
        background: #0594A1 0% 0% no-repeat padding-box;
        opacity: 1;
        min-height: 92vh;
        text-align: center;
        padding-top: 4%;
      }
      .bajarimg{
        padding-top: 32%;
      }
      .bajarimg2{
        padding-top: 1%;
      }
      .bajarimg3{
        padding-top: 0%;
      }
      .circulos{
        top: 215px;
        left: 152px;
        width: 71px;
        height: 71px;
        border: 3px solid #FFFFFF;
        opacity: 1;
        border-radius: 100%;
      }
      .separacion{
        padding-top: 8%;
      }
      .logotamanio{
        width: 25%;
      }
      .tamanioimg{
        width: 70%;
      }
      .puntoverde{
        top: 298px;
        left: 81px;
        width: 6px;
        height: 6px;
        background: #38BF33 0% 0% no-repeat padding-box;
        opacity: 1;
        border-radius: 100%
      }
      .btnEmp{
        top: 699px;
        left: 37px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 13px;
        opacity: 1;
        padding-top: 2%;
        padding-bottom: 2%;
      }
      .SplashLetrasbtn{
        text-align: center;
        font-size: 15px;
        letter-spacing: 0px;
        color: #096983;
        opacity: 1;
      }
      .iphone5{
        margin-top: -5%;
      }
      .punto{
        top: 340px;
        left: 37px;
        width: 7px;
        height: 7px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        border-radius: 100%;
      }
      .acomodarp{
        margin-left: -4%;
        margin-top: -2%;
      }
    </style>
    <ion-slide-box slider="data.slider">
      <ion-slide>
        <div class="PlantillaBase">
          <div class="Linea1">
            <img src="./img/logo.png" style="width: 60%;">
            <div style="padding-top: 10%;">
              <p class="SplashLetras">Te damos la bienvenida a <br> nuestra familia, tu familia.</p>
            </div>
            <div class="bajarimg">
              <img src="./img/personas.png" style="width: 100%;">
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="PlantillaBase2">
          <div class="Linea2">
            <div style="padding: 5%; text-align: left;">
              
            </div>
            <img src="./img/logo.png" style="width: 60%;">
            <div style="padding-top: 8%">
              <img src="./img/user.png" style="width: 18%;" class="circulos">
            </div>
            <div style="padding-top: 8%;">
              <p class="SplashLetras1">Como usuario estandar tendra<br> acceso a cientos de proveedores<br> de forma gratuita.</p>
            </div>
            <div class="separacion">
              <p class="SplashLetras1">Para ser un Proveedor de<br> Servicios basta con que tengas<br> un talento o una herramienta para<br> que comiences a generar<br> ingresos a medio tiempo o<br> tiempo completo</p>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="PlantillaBase3">
          <div class="Linea2">
            <div style="padding: 5%; text-align: left;">
         
            </div>
            <img src="./img/logo.png" style="width: 60%;">
            <div style="padding-top: 8%;">
              <p class="SplashLetras1">Encuentra a todos los<br> Proveedores de servicios que<br> necesitas.</p>
            </div>
            <div>
              <p class="SplashLetras">¡<img src="./img/logo.png" class="logotamanio"> lo tiene!</p>
            </div>
            <div class="bajarimg2">
              <img src="./img/presion.png" style="width: 100%;">
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="PlantillaBase4">
          <div class="Linea2">
            <div style="padding: 5%; text-align: left;">
          
            </div>
            <img src="./img/logo.png" style="width: 60%;">
            <div style="padding-top: 8%;">
              <p class="SplashLetras1">Estos son algunos de los<br> servicios:</p>
            </div>
            <div class="bajarimg3">
              <img src="./img/firmas.png" class="tamanioimg">
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="PlantillaBase5">
          <div class="Linea2">
            <div style="padding: 5%; text-align: left;">
       
            </div>
            <div class="iphone5">
              <img src="./img/logo.png" style="width: 40%;">
            </div>
            <div style="padding-top: 8%;">
              <p class="SplashLetras1">Presta atención a los resultados<br> de búsqueda, por ejemplo:</p>
            </div>
            <div class="bajarimg3">
              <span class="puntoverde">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="SplashLetras2"> Javier Lopez 
                <i class="fas fa-check-circle"></i>
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </span>
            </div>
            <div style="text-align: left;padding: 5% 5% 5% 15%;">
              <div class="row">
                  <div class="col-10">
                    <div class="punto">
                    </div>
                  </div>
                  <div class="col-90 acomodarp">
                    <span class="SplashLetras3">El punto verde indíca que el<br>
                      Proveedor del Servcicio está<br>
                      disponible.</span><br><br>
                  </div>
              </div>
              <div class="row">
                  <div class="col-10">
                    <div class="punto">
                    </div>
                  </div>
                  <div class="col-90 acomodarp">
                    <span class="SplashLetras3">La insignia azul con el cheque<br>
                blanco, significa que es un<br>
                Proveedor de Servicios<br>
                VERIFIACADO. Presento<br>
                antecedente penales y<br>
                criminales en nuestra oficinas.</span><br><br>
                  </div>
              </div>
              <div class="row">
                  <div class="col-10">
                    <div class="punto">
                    </div>
                  </div>
                  <div class="col-90 acomodarp">
                    <span class="SplashLetras3">Las estrellas representan la<br>
                calificación que sus clientes le<br>
                han brindado por la calidad de<br>
                su desempeño.</span>    
                  </div>
              </div>
              
              
              
            </div>
            <div style="text-align: center;padding: 0% 15% 0% 15%;">
              <div onclick="location.href='#/splash2'" class="btnEmp">
                <span class="SplashLetrasbtn">Empecemos</span>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>