<ion-view hide-nav-bar="true">
  <ion-content >
    <style>
      @media only screen and (min-height:  800px) {
        .ajsute{
          padding-top: 20%!important;
        }
      }
      @media only screen and (max-height:  650px) {
        .Letras1{
          font-size: 14px!important;
        }
      }
      .PlantillaBase32{
        min-height: 100vh;
        top: 0px;
        left: 0px;
        background: #FFF 0% 0% no-repeat padding-box;
        opacity: 1;
      }
      .Linea23{
        padding-top: 6%;
      }
      .Letras1{
        color: #0C375A;
        font-size: 15px;
        text-align: center;
        line-height: 1.2;
      }
      .btnEmp{
        top: 598px;
        left: 37px;
        background: #096983 0% 0% no-repeat padding-box;
        border: 2px solid #096983;
        border-radius: 13px;
        opacity: 1;
        padding-top: 2%;
        padding-bottom: 2%;
      }
      .Letrasbtn{
        text-align: center;
        font-size: 15px;
        letter-spacing: 0px;
        color: #fff;
        opacity: 1;
      }
      .ajsute{
        padding-top:0%;
      }
    </style>
    <div class="PlantillaBase32"> 
      <div class="Linea23">
        <div style="padding: 5%; text-align: left;">
          <img onclick="location.href='#/splash2'" src="./img/derecha2.png" style="width: 8%;">
        </div>
        <div style="text-align: center;" class="ajsute">
          <img src="./img/logo2.png" style="width: 45%;">
        </div>
        <div style="padding-top: 8%;">
          <p class="Letras1">Propuesta de Valor lorem ipsum dolor<br>
           sit amet, consectetur adipiscing elit.</p>
        </div>

        <div style="text-align: center;padding: 80% 15% 0% 15%;">
          <div onclick="location.href='#/autenticar'" class="btnEmp">
            <span class="Letrasbtn">Registrarse por E- mail</span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>